aiohappyeyeballs==2.6.1
aiohttp==3.12.15
aiohttp-retry==2.9.1
aiosignal==1.4.0
annotated-types==0.7.0
asttokens==3.0.0
async-timeout==5.0.1
attrs==25.3.0
Babel==2.13.1
backcall==0.2.0
backoff==2.2.1
barcodenumber==0.5.0
beautifulsoup4==4.12.3
bleach==6.0.0
bleach-allowlist==1.0.3
boto3==1.34.162
botocore==1.34.162
Brotli==1.1.0
cachetools==5.5.2
cairocffi==1.5.1
certifi==2025.8.3
cffi==2.0.0
chardet==5.1.0
charset-normalizer==3.4.3
click==8.2.1
-e git+https://github.com/Nabeel-Khan007/crm.git@5622acb4291a5677e34fe78770a3537bcc69e4f2#egg=crm
croniter==2.0.7
cryptography==44.0.3
cssselect==1.3.0
cssselect2==0.8.0
cssutils==2.9.0
dataclasses-json==0.5.14
decorator==5.2.1
distro==1.9.0
docopt==0.6.2
dropbox==11.36.2
email-reply-parser==0.5.12
-e git+https://github.com/frappe/erpnext.git@6ae8e32efa32c1c9b472e182d2255f5d133e1d3d#egg=erpnext
et_xmlfile==2.0.0
exceptiongroup==1.3.0
executing==2.2.1
filelock==3.13.4
filetype==1.2.0
fonttools==4.60.0
-e git+https://github.com/frappe/frappe.git@d6970d6ddd450b1c4b63a9e855d39d67ff01e10b#egg=frappe
frozenlist==1.7.0
gitdb==4.0.12
GitPython==3.1.45
google-api-core==2.25.1
google-api-python-client==2.172.0
google-auth==2.40.3
google-auth-httplib2==0.2.0
google-auth-oauthlib==1.2.2
googleapis-common-protos==1.70.0
googlemaps==4.10.0
gunicorn @ git+https://github.com/frappe/gunicorn@bb554053bb87218120d76ab6676af7015680e8b6
hiredis==2.2.3
holidays==0.81
html5lib==1.1
httplib2==0.31.0
idna==3.10
ipython==8.15.0
isodate==0.6.1
jedi==0.19.2
Jinja2==3.1.6
jmespath==1.0.1
ldap3==2.9.1
lxml==6.0.1
markdown2==2.4.13
markdownify==0.14.1
MarkupSafe==2.1.5
marshmallow==3.26.1
matplotlib-inline==0.1.7
maxminddb==2.8.2
maxminddb-geolite2==2018.703
monotonic==1.6
multidict==6.6.4
mypy_extensions==1.1.0
num2words==0.5.14
oauthlib==3.2.2
observable==0.3.2
openpyxl==3.1.5
packaging==25.0
parso==0.8.5
passlib==1.7.4
pdfkit==1.0.0
pexpect==4.9.0
phonenumbers==8.13.55
pickleshare==0.7.5
pillow==11.3.0
plaid-python==7.2.1
ply==3.11
posthog==3.21.0
premailer==3.10.0
prompt_toolkit==3.0.52
propcache==0.3.2
proto-plus==1.26.1
protobuf==6.32.1
psutil==5.9.8
psycopg2-binary==2.9.10
ptyprocess==0.7.0
pure_eval==0.2.3
pyasn1==0.6.1
pyasn1_modules==0.4.2
pycountry==22.3.5
pycparser==2.23
pydantic==2.10.6
pydantic_core==2.27.2
pydyf==0.10.0
Pygments==2.19.2
PyJWT==2.8.0
PyMySQL==1.1.1
pyOpenSSL==25.0.0
pyotp==2.8.0
pyparsing==3.2.4
pypdf==6.0.0
pyphen==0.17.2
PyPika==0.48.9
pypng==0.20220715.0
PyQRCode==1.2.1
python-dateutil==2.8.2
python-stdnum==2.1
python-youtube==0.8.3
pytz==2023.3
PyYAML==6.0.2
RapidFuzz==3.12.2
rauth==0.7.3
redis==4.5.5
requests==2.32.5
requests-oauthlib==1.3.1
RestrictedPython==8.0
ringcentral==0.9.2
rq==1.15.1
rsa==4.9.1
s3transfer==0.10.4
semantic-version==2.10.0
sentry-sdk==1.45.1
six==1.17.0
smmap==5.0.2
soupsieve==2.8
sql_metadata==2.11.0
sqlparse==0.5.3
stack-data==0.6.3
stone==3.3.9
tenacity==8.2.3
terminaltables==3.1.10
tinycss2==1.1.1
tomli==2.0.2
traceback-with-variables==2.0.4
traitlets==5.14.3
twilio==8.5.0
typing-inspect==0.9.0
typing_extensions==4.15.0
Unidecode==1.3.8
uritemplate==4.2.0
urllib3==2.5.0
vobject==0.9.9
wcwidth==0.2.13
weasyprint==59.0
webencodings==0.5.1
websockets==15.0.1
Werkzeug==3.0.6
Whoosh==2.7.4
xlrd==2.0.2
yarl==1.20.1
zopfli==0.2.3.post1
zxcvbn==4.4.28
