# Database
# Change these values before deploying to production
MYSQL_ROOT_PASSWORD=change_me_in_production
MARIADB_ROOT_PASSWORD=change_me_in_production

# Frappe/CRM
ADMIN_PASSWORD=change_me_in_production

# Optional
# SITE_NAME=crm.localhost
