@import './assets/Inter/inter.css';
@import 'frappe-ui/src/style.css';
@import './assets/custom.css';

@layer components {
	.prose-f {
		@apply
		break-all
		max-w-none
		prose
		prose-code:break-all
		prose-code:whitespace-pre-wrap
		prose-img:border
		prose-img:rounded-lg
		prose-sm
		prose-table:table-fixed
		prose-td:border
		prose-td:border-gray-300
		prose-td:p-2
		prose-td:relative
		prose-th:bg-gray-100
		prose-th:border
		prose-th:border-gray-300
		prose-th:p-2
		prose-th:relative
	}
}

.deal-chip .grid.items-center.space-x-4.rounded.px-2.hover\:bg-gray-50 {
    padding-top: 6px;
    padding-bottom: 6px;
    height: initial !important;
    min-height: 40px;
} 
.chip-data {
    display: grid;
}
.chip {
    width: fit-content;
    padding: 4px;
    pointer-events: none;
    border: none;
    background-color: #f3f3f3;
    color: #000000;
    text-align: center;
    text-decoration: none;
}

.report-filter select {
	min-width: 260px !important;
}

.status-option-detail {
	min-width: 200px;
}

.status-option {
	min-width: 200px;
}

.status-option button {
	min-width: 200px;
}

.pricetag polygon {
    stroke: #7e368d !important;
}

.crm-field-custom path {
    fill: #7e368d !important;
}